<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    次の例では、"MyDB" という値を持つ "name" 属性が "Match" ロケーターで
    見つかった場合にのみ、"SetAttributes" 変換によって "connectionString" の
    値が "ReleaseSQLServer" を使用するように変更されます。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:gxmfptupwo.database.windows.net,1433;Database=AuthSampleTest;User ID=archwaydev@gxmfptupwo;Password=P@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=60;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Sales15SalesMasterEntities" connectionString="Server=tcp:gxmfptupwo.database.windows.net,1433;Database=Sales15SalesTest;User ID=archwaydev@gxmfptupwo;Password=P@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=60;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="GenerationToolEntities" connectionString="Server=tcp:gxmfptupwo.database.windows.net,1433;Database=GenerationToolTest;User ID=archwaydev@gxmfptupwo;Password=P@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=60;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>