USE [master]
GO
/****** Object:  Database [Sales15Project]    Script Date: 2015/04/16 13:36:15 ******/
CREATE DATABASE [Sales15Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sales15Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Sales15Project.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Sales15Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Sales15Project_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sales15Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sales15Project]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 2015/04/16 13:36:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](1024) NOT NULL,
	[ZipCode] [nvarchar](50) NULL,
	[Address] [nvarchar](1024) NULL,
	[Tel] [nvarchar](50) NULL,
	[BussinessDescription] [nvarchar](1024) NULL,
	[EmployeesNumber] [int] NOT NULL,
	[Url] [nvarchar](1024) NULL,
	[LastUpdate] [nvarchar](50) NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Updated] [datetimeoffset](7) NOT NULL,
	[Ts] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Issues]    Script Date: 2015/04/16 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Issues](
	[IssueId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Title] [nvarchar](1024) NOT NULL,
	[Issue] [nvarchar](1024) NULL,
	[Policy] [nvarchar](1024) NULL,
	[SlipIssuanceDate] [datetimeoffset](7) NULL,
	[SlipIssuancePerson] [nvarchar](50) NULL,
	[PersonInCharge] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[DeadlineDate] [datetimeoffset](7) NULL,
	[CompletionDate] [datetimeoffset](7) NULL,
	[LastUpdate] [nvarchar](50) NOT NULL,
	[Created] [datetimeoffset](7) NULL,
	[Updated] [datetimeoffset](7) NULL,
	[Ts] [timestamp] NULL,
 CONSTRAINT [PK_Issues] PRIMARY KEY CLUSTERED 
(
	[IssueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonthlyGoals]    Script Date: 2015/04/16 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyGoals](
	[MonthlyGoalId] [int] IDENTITY(1,1) NOT NULL,
	[TargetMonth] [datetimeoffset](7) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[MonthlyGoal] [nvarchar](max) NULL,
	[TargetAchieve] [int] NULL,
	[LastUpdate] [nvarchar](50) NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Updated] [datetimeoffset](7) NOT NULL,
	[Ts] [timestamp] NOT NULL,
 CONSTRAINT [PK_MonthlyGoals] PRIMARY KEY CLUSTERED 
(
	[MonthlyGoalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 2015/04/16 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](50) NOT NULL,
	[AccountId] [int] NULL,
	[ContactId] [int] NULL,
	[Owner] [nvarchar](50) NOT NULL,
	[ProjectStatus] [nvarchar](10) NOT NULL,
	[StartDate] [datetimeoffset](7) NULL,
	[EndDate] [datetimeoffset](7) NULL,
	[Rank] [nvarchar](10) NOT NULL,
	[Region] [nvarchar](10) NOT NULL,
	[ProjectDetail] [nvarchar](1024) NULL,
	[BillingType] [nvarchar](50) NULL,
	[BillingNo] [nvarchar](50) NULL,
	[EstimateNo] [nvarchar](50) NULL,
	[Hot] [bit] NULL,
	[LastUpdate] [nvarchar](50) NOT NULL,
	[Created] [datetimeoffset](7) NULL,
	[Updated] [datetimeoffset](7) NULL,
	[Ts] [timestamp] NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectTasks]    Script Date: 2015/04/16 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTasks](
	[ProjectTaskId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[EmployeeId] [int] NULL,
	[CategoryName] [nvarchar](50) NULL,
	[SubCategoryName] [nvarchar](50) NULL,
	[TaskName] [nvarchar](100) NOT NULL,
	[PlanDate] [datetimeoffset](7) NULL,
	[PlanManHour] [decimal](18, 0) NULL,
	[ActualManHour] [decimal](18, 0) NULL,
	[ExecutionDate] [datetimeoffset](7) NULL,
	[LastUpdate] [nvarchar](50) NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Updated] [datetimeoffset](7) NOT NULL,
	[Ts] [timestamp] NOT NULL,
 CONSTRAINT [PK_ProjectTasks] PRIMARY KEY CLUSTERED 
(
	[ProjectTaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WeeklyGoals]    Script Date: 2015/04/16 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeeklyGoals](
	[WeeklyGoalId] [int] IDENTITY(1,1) NOT NULL,
	[MonthlyGoalId] [int] NOT NULL,
	[Week] [int] NOT NULL,
	[WeeklyGoal] [nvarchar](max) NULL,
	[WeeklyResult] [nvarchar](max) NULL,
	[AchieveCount] [int] NULL,
	[LastUpdate] [nvarchar](50) NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Updated] [datetimeoffset](7) NOT NULL,
	[Ts] [timestamp] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[IssuesView]    Script Date: 2015/04/16 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[IssuesView]
AS
SELECT            dbo.Accounts.AccountName, dbo.Projects.ProjectName, dbo.Issues.IssueId, dbo.Issues.AccountId, dbo.Issues.ProjectId, dbo.Issues.Created, dbo.Issues.LastUpdate, dbo.Issues.CompletionDate, dbo.Issues.DeadlineDate, 
                        dbo.Issues.Status, dbo.Issues.PersonInCharge, dbo.Issues.SlipIssuancePerson, dbo.Issues.SlipIssuanceDate, dbo.Issues.Policy, dbo.Issues.Category, dbo.Issues.Title, dbo.Issues.Issue, dbo.Issues.Updated, dbo.Issues.Ts
FROM              dbo.Issues LEFT OUTER JOIN
                        dbo.Accounts ON dbo.Issues.AccountId = dbo.Accounts.AccountId LEFT OUTER JOIN
                        dbo.Projects ON dbo.Issues.ProjectId = dbo.Projects.ProjectId

GO
/****** Object:  View [dbo].[MonthlyGoalView]    Script Date: 2015/04/16 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MonthlyGoalView]
AS
SELECT            M.MonthlyGoalId, M.TargetMonth, M.EmployeeId, M.ProjectId, P.ProjectName, M.MonthlyGoal, M.TargetAchieve, M.LastUpdate, M.Created, M.Updated, M.Ts, P.AccountId, A.AccountName
FROM              dbo.MonthlyGoals AS M INNER JOIN
                        dbo.Projects AS P ON M.ProjectId = P.ProjectId LEFT OUTER JOIN
                        dbo.Accounts AS A ON P.AccountId = A.AccountId

GO
/****** Object:  View [dbo].[ProjectAccountView]    Script Date: 2015/04/16 13:36:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProjectAccountView]
AS
SELECT            P.ProjectId, P.ProjectName, P.AccountId, P.ContactId, P.Owner, P.ProjectStatus, P.StartDate, P.EndDate, P.Rank, P.Region, P.ProjectDetail, P.BillingType, P.BillingNo, P.EstimateNo, P.Hot, P.LastUpdate, P.Created, P.Updated, P.Ts, 
                        A.AccountName
FROM              dbo.Projects AS P LEFT OUTER JOIN
                        dbo.Accounts AS A ON P.AccountId = A.AccountId

GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [AccountName], [ZipCode], [Address], [Tel], [BussinessDescription], [EmployeesNumber], [Url], [LastUpdate], [Created], [Updated]) VALUES (1, N'Berlitz International Inc. ', NULL, NULL, NULL, NULL, 0, NULL, N'amimata', CAST(N'2014-11-19T15:22:56.9430000+00:00' AS DateTimeOffset), CAST(N'2014-11-19T15:22:56.9430000+00:00' AS DateTimeOffset))
INSERT [dbo].[Accounts] ([AccountId], [AccountName], [ZipCode], [Address], [Tel], [BussinessDescription], [EmployeesNumber], [Url], [LastUpdate], [Created], [Updated]) VALUES (2, N'ITインフォメーションシステムズ株式会社 ', NULL, NULL, NULL, NULL, 0, NULL, N'amimata', CAST(N'2014-11-19T15:22:56.9430000+00:00' AS DateTimeOffset), CAST(N'2014-11-19T15:22:56.9430000+00:00' AS DateTimeOffset))
INSERT [dbo].[Accounts] ([AccountId], [AccountName], [ZipCode], [Address], [Tel], [BussinessDescription], [EmployeesNumber], [Url], [LastUpdate], [Created], [Updated]) VALUES (3, N'TDKラムダ株式会社 ', NULL, NULL, NULL, NULL, 0, NULL, N'amimata', CAST(N'2014-11-19T15:22:56.9430000+00:00' AS DateTimeOffset), CAST(N'2014-11-19T15:22:56.9430000+00:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[Accounts] OFF
SET IDENTITY_INSERT [dbo].[Issues] ON 

SET IDENTITY_INSERT [dbo].[Issues] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

GO
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[ProjectTasks] ON 

INSERT [dbo].[ProjectTasks] ([ProjectTaskId], [ProjectId], [EmployeeId], [CategoryName], [SubCategoryName], [TaskName], [PlanDate], [PlanManHour], [ActualManHour], [ExecutionDate], [LastUpdate], [Created], [Updated]) VALUES (3, 431, 5, N'ミーティング', NULL, N'社内MTG', CAST(N'2015-02-06T00:00:00.0000000+09:00' AS DateTimeOffset), CAST(2 AS Decimal(18, 0)), NULL, NULL, NULL, CAST(N'2015-02-01T00:00:00.0000000+09:00' AS DateTimeOffset), CAST(N'2015-02-01T00:00:00.0000000+09:00' AS DateTimeOffset))
INSERT [dbo].[ProjectTasks] ([ProjectTaskId], [ProjectId], [EmployeeId], [CategoryName], [SubCategoryName], [TaskName], [PlanDate], [PlanManHour], [ActualManHour], [ExecutionDate], [LastUpdate], [Created], [Updated]) VALUES (4, 431, 5, N'ミーティング', NULL, N'社内MTG', CAST(N'2015-02-01T00:00:00.0000000+09:00' AS DateTimeOffset), CAST(2 AS Decimal(18, 0)), NULL, NULL, NULL, CAST(N'2015-02-01T00:00:00.0000000+09:00' AS DateTimeOffset), CAST(N'2015-02-01T00:00:00.0000000+09:00' AS DateTimeOffset))
INSERT [dbo].[ProjectTasks] ([ProjectTaskId], [ProjectId], [EmployeeId], [CategoryName], [SubCategoryName], [TaskName], [PlanDate], [PlanManHour], [ActualManHour], [ExecutionDate], [LastUpdate], [Created], [Updated]) VALUES (5, 431, 5, N'ミーティング', NULL, N'社内MTG', CAST(N'2015-02-13T00:00:00.0000000+09:00' AS DateTimeOffset), CAST(2 AS Decimal(18, 0)), NULL, NULL, NULL, CAST(N'2015-02-01T00:00:00.0000000+09:00' AS DateTimeOffset), CAST(N'2015-02-01T00:00:00.0000000+09:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[ProjectTasks] OFF
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[8] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -96
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Accounts"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 248
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Issues"
            Begin Extent = 
               Top = 6
               Left = 286
               Bottom = 278
               Right = 486
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Projects"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 206
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'IssuesView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'IssuesView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "A"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 248
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "M"
            Begin Extent = 
               Top = 6
               Left = 286
               Bottom = 293
               Right = 459
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "P"
            Begin Extent = 
               Top = 6
               Left = 497
               Bottom = 136
               Right = 665
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MonthlyGoalView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MonthlyGoalView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "A"
            Begin Extent = 
               Top = 22
               Left = 370
               Bottom = 152
               Right = 580
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "P"
            Begin Extent = 
               Top = 13
               Left = 55
               Bottom = 298
               Right = 223
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProjectAccountView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ProjectAccountView'
GO
USE [master]
GO
