USE [master]
GO
/****** Object:  Database [Sales15Billing]    Script Date: 2015/04/16 13:33:48 ******/
CREATE DATABASE [Sales15Billing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sales15Billing', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Sales15Billing.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Sales15Billing_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Sales15Billing_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sales15Billing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sales15Billing]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](1024) NOT NULL,
	[ZipCode] [nvarchar](50) NULL,
	[Address] [nvarchar](1024) NULL,
	[Tel] [nvarchar](50) NULL,
	[BussinessDescription] [nvarchar](1024) NULL,
	[EmployeesNumber] [int] NOT NULL,
	[Url] [nvarchar](1024) NULL,
	[LastUpdate] [nvarchar](50) NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Updated] [datetimeoffset](7) NOT NULL,
	[Ts] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BillingNoCounts]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillingNoCounts](
	[BillingPostDate] [datetimeoffset](7) NOT NULL,
	[IncrementNo] [int] NULL CONSTRAINT [DF_BillingNoCounts_IncrementNo]  DEFAULT ((0)),
 CONSTRAINT [PK_BillingNoCounts] PRIMARY KEY CLUSTERED 
(
	[BillingPostDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Billings]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billings](
	[BillingId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NULL,
	[AccountName] [nvarchar](50) NULL,
	[ProjectId] [int] NULL,
	[ProjectName] [nvarchar](50) NULL,
	[BillingMonth] [int] NULL,
	[BillingNo] [nvarchar](50) NULL,
	[BillingNoBranch] [nvarchar](2) NULL,
	[EstimatedAmountTotal] [money] NULL,
	[BillingAmountExcludeTax] [money] NULL,
	[BillingAmountIncludeTax] [money] NULL,
	[BillingCutOffDate] [datetimeoffset](7) NULL,
	[PlanPostDate] [datetimeoffset](7) NULL,
	[ActualPostDate] [datetimeoffset](7) NULL,
	[DeliveryNo] [nvarchar](50) NULL,
	[DeliveryDate] [datetimeoffset](7) NULL,
	[DeliveryPlanPostDate] [datetimeoffset](7) NULL,
	[DeliveryActualPostDate] [datetimeoffset](7) NULL,
	[DeliveryReturnDate] [datetimeoffset](7) NULL,
	[DeliveryStatus] [bit] NULL,
	[PaymentPlanDate] [datetimeoffset](7) NULL,
	[PaymentActualDate] [datetimeoffset](7) NULL,
	[ActualPayment] [money] NULL,
	[LastUpdate] [nvarchar](50) NULL,
	[Created] [datetimeoffset](7) NULL,
	[Updated] [datetimeoffset](7) NULL,
	[Ts] [timestamp] NULL,
	[BillingStatus] [int] NULL,
 CONSTRAINT [PK_Billings_1] PRIMARY KEY CLUSTERED 
(
	[BillingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[FirstNamePhonetic] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[LastNamePhonetic] [nvarchar](50) NULL,
	[Mail] [nvarchar](50) NULL,
	[Tel] [nvarchar](50) NULL,
	[AccountId] [int] NULL,
	[BusinessUnit] [nvarchar](100) NULL,
	[Position] [nvarchar](100) NULL,
	[LastUpdate] [nvarchar](50) NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Updated] [datetimeoffset](7) NOT NULL,
	[Ts] [timestamp] NOT NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeliveryNoCounts]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryNoCounts](
	[DeliveryPostDate] [datetimeoffset](7) NOT NULL,
	[IncrementNo] [int] NOT NULL CONSTRAINT [DF_DeliveryNoCounts_Count]  DEFAULT ((0)),
 CONSTRAINT [PK_DeliveryNoCounts] PRIMARY KEY CLUSTERED 
(
	[DeliveryPostDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNo] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](50) NULL,
	[LastUpdate] [nvarchar](50) NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Updated] [datetimeoffset](7) NOT NULL,
	[Ts] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectAcountProfile]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectAcountProfile](
	[ProjectAccountProfileId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[CutOffClaim] [int] NULL,
	[SettlingPeriod] [int] NULL,
	[PaymentTermsCode] [int] NULL,
	[LastUpdate] [nvarchar](50) NOT NULL,
	[Created] [datetimeoffset](7) NULL,
	[Updated] [datetimeoffset](7) NULL,
	[Ts] [timestamp] NULL,
	[BearHandlingCharge] [bit] NULL,
 CONSTRAINT [PK_BillingManagements_1] PRIMARY KEY CLUSTERED 
(
	[ProjectAccountProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectContracts]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectContracts](
	[ContractId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[PurchaseOrderNo] [nvarchar](50) NULL,
	[WorkReport] [bit] NULL,
	[OtherAttachReport] [bit] NULL,
	[AttachReportName] [nvarchar](1024) NULL,
	[StatementOfDeliveryDetail] [nvarchar](50) NULL,
	[StatementOfDelivery] [bit] NULL,
	[StatementOfDeliveryName] [nvarchar](1024) NULL,
	[StatementOfDeliveryZipCode] [nvarchar](50) NULL,
	[StatementOfDeliveryAddress] [nvarchar](1024) NULL,
	[StatementOfDeliveryTel] [nvarchar](50) NULL,
	[StatementOfDeliveryDivision] [nvarchar](1024) NULL,
	[StatementOfDeliveryUserName] [nvarchar](1024) NULL,
	[BillingName] [nvarchar](1024) NULL,
	[BillingZipCode] [nvarchar](50) NULL,
	[BillingAddress] [nvarchar](1024) NULL,
	[BillingTel] [nvarchar](50) NULL,
	[BillingDivision] [nvarchar](1024) NULL,
	[BillingUserName] [nvarchar](1024) NULL,
	[Memo] [nvarchar](1024) NULL,
	[LastUpdate] [nvarchar](50) NOT NULL,
	[Created] [datetimeoffset](7) NULL,
	[Updated] [datetimeoffset](7) NULL,
	[Ts] [timestamp] NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[ContractId] ASC,
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](50) NOT NULL,
	[AccountId] [int] NULL,
	[ContactId] [int] NULL,
	[Owner] [nvarchar](50) NOT NULL,
	[ProjectStatus] [nvarchar](10) NOT NULL,
	[StartDate] [datetimeoffset](7) NULL,
	[EndDate] [datetimeoffset](7) NULL,
	[Rank] [nvarchar](10) NOT NULL,
	[Region] [nvarchar](10) NOT NULL,
	[ProjectDetail] [nvarchar](1024) NULL,
	[BillingType] [nvarchar](50) NULL,
	[Hot] [bit] NULL,
	[LastUpdate] [nvarchar](50) NOT NULL,
	[Created] [datetimeoffset](7) NULL,
	[Updated] [datetimeoffset](7) NULL,
	[Ts] [timestamp] NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectSales]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectSales](
	[ProjectSalesId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[SalesDateF] [datetimeoffset](7) NOT NULL,
	[SalesDateT] [datetimeoffset](7) NOT NULL,
	[ServiceType] [int] NULL,
	[ServiceDetail] [nvarchar](50) NOT NULL,
	[UnitPrice] [decimal](18, 0) NOT NULL,
	[Count] [decimal](18, 0) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Amount] [money] NOT NULL,
	[IncludedTax] [bit] NULL,
	[LastUpdate] [nvarchar](50) NOT NULL,
	[Created] [datetimeoffset](7) NULL,
	[Updated] [datetimeoffset](7) NULL,
	[Ts] [timestamp] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_ProjectSales] PRIMARY KEY CLUSTERED 
(
	[ProjectSalesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[ServiceType] [int] IDENTITY(1,1) NOT NULL,
	[ServiceTypeName] [nvarchar](50) NOT NULL,
	[LastUpdate] [nvarchar](50) NOT NULL,
	[Created] [datetimeoffset](7) NOT NULL,
	[Updated] [datetimeoffset](7) NULL,
	[Ts] [timestamp] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsedBillingNumbers]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsedBillingNumbers](
	[BillingNo] [nvarchar](50) NOT NULL,
	[BillingId] [int] NOT NULL,
 CONSTRAINT [PK_UsedBillingNumbers] PRIMARY KEY CLUSTERED 
(
	[BillingNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsedDeliveryNumbers]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsedDeliveryNumbers](
	[DeliveryNo] [nvarchar](50) NOT NULL,
	[BillingId] [int] NOT NULL,
 CONSTRAINT [PK_UsedDeliveryNumbers] PRIMARY KEY CLUSTERED 
(
	[DeliveryNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[BillingHeaderView]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BillingHeaderView]
AS
SELECT            dbo.Projects.ProjectName, dbo.Projects.AccountId, dbo.Projects.ContactId, dbo.Projects.Owner, dbo.Projects.ProjectStatus, dbo.Projects.StartDate, dbo.Projects.EndDate, dbo.Projects.Rank, dbo.Projects.Region, 
                        dbo.Projects.ProjectDetail, dbo.Projects.BillingType, dbo.Projects.Hot, dbo.Billings.BillingId, dbo.Billings.BillingNo, dbo.Billings.BillingStatus, dbo.Billings.BillingCutOffDate, dbo.Billings.PlanPostDate, dbo.Billings.ActualPostDate, 
                        dbo.Billings.ProjectId, dbo.ProjectAcountProfile.ProjectAccountProfileId, dbo.ProjectAcountProfile.CutOffClaim, dbo.ProjectAcountProfile.SettlingPeriod, dbo.ProjectAcountProfile.PaymentTermsCode, dbo.ProjectContracts.WorkReport, 
                        dbo.ProjectContracts.StatementOfDelivery, dbo.ProjectContracts.StatementOfDeliveryName, dbo.ProjectContracts.StatementOfDeliveryZipCode, dbo.ProjectContracts.StatementOfDeliveryAddress, 
                        dbo.ProjectContracts.StatementOfDeliveryDivision, dbo.ProjectContracts.StatementOfDeliveryUserName, dbo.ProjectContracts.BillingName, dbo.ProjectContracts.BillingZipCode, dbo.ProjectContracts.BillingAddress, 
                        dbo.ProjectContracts.BillingDivision, dbo.ProjectContracts.BillingUserName, dbo.Billings.EstimatedAmountTotal, dbo.ProjectContracts.OtherAttachReport, dbo.ProjectContracts.AttachReportName, dbo.Billings.PaymentPlanDate, 
                        dbo.Billings.PaymentActualDate, dbo.Billings.DeliveryNo, dbo.Billings.DeliveryReturnDate, dbo.Billings.DeliveryDate, dbo.Billings.DeliveryPlanPostDate, dbo.Billings.DeliveryActualPostDate, 
                        dbo.ProjectContracts.StatementOfDeliveryDetail, dbo.Billings.BillingNoBranch, dbo.Accounts.AccountName, dbo.ProjectContracts.Memo, dbo.Billings.BillingAmountExcludeTax, dbo.Billings.BillingAmountIncludeTax, 
                        dbo.ProjectContracts.ContractId, dbo.Billings.BillingMonth, dbo.Billings.DeliveryStatus, dbo.Billings.ActualPayment, dbo.Billings.LastUpdate, dbo.Billings.Created, dbo.Billings.Updated, dbo.Billings.Ts, 
                        dbo.ProjectContracts.PurchaseOrderNo
FROM              dbo.Billings LEFT OUTER JOIN
                        dbo.Accounts ON dbo.Accounts.AccountId = dbo.Billings.AccountId LEFT OUTER JOIN
                        dbo.ProjectAcountProfile ON dbo.Billings.ProjectId = dbo.ProjectAcountProfile.ProjectId LEFT OUTER JOIN
                        dbo.Projects ON dbo.ProjectAcountProfile.ProjectId = dbo.Projects.ProjectId LEFT OUTER JOIN
                        dbo.ProjectContracts ON dbo.ProjectAcountProfile.ProjectId = dbo.ProjectContracts.ProjectId

GO

/****** Object:  View [dbo].[BillingView]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BillingView]
AS
SELECT            dbo.ProjectContracts.ContractId, dbo.ProjectContracts.OtherAttachReport, dbo.ProjectContracts.AttachReportName, dbo.ProjectContracts.StatementOfDeliveryDetail, dbo.ProjectContracts.WorkReport, 
                        dbo.ProjectContracts.StatementOfDelivery, dbo.Billings.BillingId, dbo.Billings.BillingNo, dbo.Billings.AccountId, dbo.Billings.AccountName, dbo.Billings.ProjectId, dbo.Billings.ProjectName, dbo.Billings.BillingMonth, dbo.Billings.BillingStatus, 
                        dbo.Billings.EstimatedAmountTotal, dbo.Billings.BillingAmountExcludeTax, dbo.Billings.BillingAmountIncludeTax, dbo.Billings.PlanPostDate, dbo.Billings.ActualPostDate, dbo.Billings.LastUpdate, dbo.Billings.Created, dbo.Billings.Updated, 
                        dbo.Billings.Ts, dbo.Billings.PaymentPlanDate, dbo.Billings.PaymentActualDate, dbo.Billings.BillingNoBranch, dbo.Billings.BillingCutOffDate, dbo.ProjectAcountProfile.SettlingPeriod, dbo.ProjectAcountProfile.PaymentTermsCode
FROM              dbo.Billings INNER JOIN
                        dbo.ProjectContracts ON dbo.Billings.ProjectId = dbo.ProjectContracts.ProjectId INNER JOIN
                        dbo.ProjectAcountProfile ON dbo.ProjectContracts.ProjectId = dbo.ProjectAcountProfile.ProjectId


GO
/****** Object:  View [dbo].[CreateBillingView]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[CreateBillingView]
AS
SELECT            dbo.Billings.BillingId, dbo.Billings.BillingNo, dbo.Billings.ProjectId, dbo.Billings.AccountId, dbo.Accounts.AccountName, dbo.Projects.ProjectName, dbo.Projects.StartDate, dbo.Projects.EndDate, dbo.Billings.BillingNoBranch, 
                        dbo.Projects.ContactId, dbo.Contacts.FirstName, dbo.Contacts.LastName, dbo.Contacts.BusinessUnit, dbo.Billings.BillingCutOffDate, dbo.ProjectContracts.PurchaseOrderNo, dbo.Projects.Owner, dbo.Billings.DeliveryNo, 
                        dbo.Billings.DeliveryDate, dbo.Billings.DeliveryPlanPostDate, dbo.ProjectAcountProfile.PaymentTermsCode, dbo.Billings.PlanPostDate
FROM              dbo.Accounts INNER JOIN
                        dbo.Billings ON dbo.Accounts.AccountId = dbo.Billings.AccountId INNER JOIN
                        dbo.ProjectContracts INNER JOIN
                        dbo.Contacts INNER JOIN
                        dbo.Projects ON dbo.Contacts.ContactId = dbo.Projects.ContactId ON dbo.ProjectContracts.ProjectId = dbo.Projects.ProjectId ON dbo.Billings.ProjectId = dbo.Projects.ProjectId INNER JOIN
                        dbo.ProjectAcountProfile ON dbo.Billings.ProjectId = dbo.ProjectAcountProfile.ProjectId

GO

GO
/****** Object:  View [dbo].[DeliveryListView]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DeliveryListView]
AS
SELECT            dbo.Projects.StartDate, dbo.Projects.EndDate, dbo.Billings.BillingId, dbo.Billings.BillingMonth, dbo.Projects.Owner, dbo.Employees.LastName, dbo.Employees.FirstName, dbo.Billings.DeliveryNo, dbo.Billings.DeliveryActualPostDate, 
                        dbo.Billings.DeliveryReturnDate, dbo.Billings.DeliveryStatus, dbo.Billings.LastUpdate, dbo.Billings.Created, dbo.Billings.Updated, dbo.Billings.Ts, dbo.Projects.ProjectName, dbo.Accounts.AccountName, dbo.Billings.ProjectId
FROM              dbo.Projects INNER JOIN
                        dbo.Billings ON dbo.Projects.ProjectId = dbo.Billings.ProjectId INNER JOIN
                        dbo.Employees ON dbo.Projects.Owner = dbo.Employees.EmployeeNo INNER JOIN
                        dbo.Accounts ON dbo.Billings.AccountId = dbo.Accounts.AccountId


GO
/****** Object:  View [dbo].[ReceiptListView]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReceiptListView]
AS
SELECT            dbo.Billings.BillingId, dbo.Billings.BillingNo, dbo.Billings.AccountId, dbo.Billings.ProjectId, dbo.Billings.BillingMonth, dbo.Billings.BillingStatus, dbo.Billings.BillingAmountIncludeTax, dbo.Billings.ActualPayment, dbo.Billings.BillingNoBranch, 
                        dbo.Billings.Ts, dbo.Billings.Updated, dbo.Billings.Created, dbo.Billings.LastUpdate, dbo.Billings.PaymentPlanDate, dbo.Billings.PaymentActualDate, dbo.Projects.ProjectName, dbo.ProjectContracts.Memo, dbo.Billings.ActualPostDate, 
                        dbo.Accounts.AccountName, dbo.Projects.Owner, dbo.Employees.LastName, dbo.Employees.FirstName, dbo.ProjectAcountProfile.BearHandlingCharge, dbo.ProjectContracts.ContractId
FROM              dbo.Billings INNER JOIN
                        dbo.ProjectContracts ON dbo.Billings.ProjectId = dbo.ProjectContracts.ProjectId INNER JOIN
                        dbo.Projects ON dbo.Billings.ProjectId = dbo.Projects.ProjectId INNER JOIN
                        dbo.Accounts ON dbo.Billings.AccountId = dbo.Accounts.AccountId INNER JOIN
                        dbo.Employees ON dbo.Projects.Owner = dbo.Employees.EmployeeNo INNER JOIN
                        dbo.ProjectAcountProfile ON dbo.ProjectContracts.ProjectId = dbo.ProjectAcountProfile.ProjectId AND dbo.Billings.ProjectId = dbo.ProjectAcountProfile.ProjectId

GO
/****** Object:  View [dbo].[SendingDocumentView]    Script Date: 2015/04/16 13:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SendingDocumentView]
AS
SELECT            dbo.Projects.ProjectName, dbo.Projects.AccountId, dbo.Projects.ContactId, dbo.Billings.BillingId, dbo.Billings.BillingNo, dbo.Billings.BillingStatus, dbo.Billings.PlanPostDate, dbo.Billings.ActualPostDate, dbo.ProjectContracts.WorkReport, 
                        dbo.ProjectContracts.StatementOfDelivery, dbo.ProjectContracts.StatementOfDeliveryName, dbo.ProjectContracts.StatementOfDeliveryZipCode, dbo.ProjectContracts.StatementOfDeliveryAddress, 
                        dbo.ProjectContracts.StatementOfDeliveryDivision, dbo.ProjectContracts.StatementOfDeliveryUserName, dbo.ProjectContracts.BillingName, dbo.ProjectContracts.BillingZipCode, dbo.ProjectContracts.BillingAddress, 
                        dbo.ProjectContracts.BillingDivision, dbo.ProjectContracts.BillingUserName, dbo.ProjectContracts.OtherAttachReport, dbo.ProjectContracts.AttachReportName, dbo.Billings.DeliveryNo, dbo.Billings.DeliveryPlanPostDate, 
                        dbo.Billings.DeliveryActualPostDate, dbo.Projects.ProjectId, dbo.Billings.BillingMonth, dbo.Accounts.AccountName, dbo.Billings.BillingAmountIncludeTax, dbo.Billings.BillingNoBranch, dbo.ProjectContracts.StatementOfDeliveryDetail
FROM              dbo.Projects INNER JOIN
                        dbo.Accounts ON dbo.Projects.AccountId = dbo.Accounts.AccountId LEFT OUTER JOIN
                        dbo.ProjectContracts ON dbo.Projects.ProjectId = dbo.ProjectContracts.ProjectId LEFT OUTER JOIN
                        dbo.Billings ON dbo.Projects.ProjectId = dbo.Billings.ProjectId


GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [AccountName], [ZipCode], [Address], [Tel], [BussinessDescription], [EmployeesNumber], [Url], [LastUpdate], [Created], [Updated]) VALUES (1, N'Berlitz International Inc. ', NULL, NULL, NULL, NULL, 0, NULL, N'amimata', CAST(N'2014-11-19T15:22:56.9430000+00:00' AS DateTimeOffset), CAST(N'2014-11-19T15:22:56.9430000+00:00' AS DateTimeOffset))
INSERT [dbo].[Accounts] ([AccountId], [AccountName], [ZipCode], [Address], [Tel], [BussinessDescription], [EmployeesNumber], [Url], [LastUpdate], [Created], [Updated]) VALUES (2, N'ITインフォメーションシステムズ株式会社 ', NULL, NULL, NULL, NULL, 0, NULL, N'amimata', CAST(N'2014-11-19T15:22:56.9430000+00:00' AS DateTimeOffset), CAST(N'2014-11-19T15:22:56.9430000+00:00' AS DateTimeOffset))
INSERT [dbo].[Accounts] ([AccountId], [AccountName], [ZipCode], [Address], [Tel], [BussinessDescription], [EmployeesNumber], [Url], [LastUpdate], [Created], [Updated]) VALUES (3, N'TDKラムダ株式会社 ', NULL, NULL, NULL, NULL, 0, NULL, N'amimata', CAST(N'2014-11-19T15:22:56.9430000+00:00' AS DateTimeOffset), CAST(N'2014-11-19T15:22:56.9430000+00:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[Accounts] OFF
INSERT [dbo].[BillingNoCounts] ([BillingPostDate], [IncrementNo]) VALUES (CAST(N'2012-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), 4)
INSERT [dbo].[BillingNoCounts] ([BillingPostDate], [IncrementNo]) VALUES (CAST(N'2015-03-22T00:00:00.0000000+09:00' AS DateTimeOffset), 1)
INSERT [dbo].[BillingNoCounts] ([BillingPostDate], [IncrementNo]) VALUES (CAST(N'2015-03-30T00:00:00.0000000+09:00' AS DateTimeOffset), 4)
SET IDENTITY_INSERT [dbo].[Billings] ON 

SET IDENTITY_INSERT [dbo].[Billings] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactId], [FirstName], [FirstNamePhonetic], [LastName], [LastNamePhonetic], [Mail], [Tel], [AccountId], [BusinessUnit], [Position], [LastUpdate], [Created], [Updated]) VALUES (0, N'良裕', N'ヨシヒロ', N'野村', N'ノムラ', N'nomura.yoshihiro@kobelcosys.co.jp', N'078-261-7732', 84, N'SO本部　神鋼グループIT推進部　戦略支援グループ', N'', N'amimata', CAST(N'2014-11-19T15:20:35.2270000+00:00' AS DateTimeOffset), CAST(N'2014-11-19T15:20:35.2270000+00:00' AS DateTimeOffset))
INSERT [dbo].[Contacts] ([ContactId], [FirstName], [FirstNamePhonetic], [LastName], [LastNamePhonetic], [Mail], [Tel], [AccountId], [BusinessUnit], [Position], [LastUpdate], [Created], [Updated]) VALUES (1, N'忠広', N'タダヒロ', N'石坂', N'イシザカ', N'tadahiro.ishisaka@jp.abb.com', N'055-949-8822', NULL, NULL, N'', N'amimata', CAST(N'2014-11-19T15:20:35.2270000+00:00' AS DateTimeOffset), CAST(N'2014-11-19T15:20:35.2270000+00:00' AS DateTimeOffset))
INSERT [dbo].[Contacts] ([ContactId], [FirstName], [FirstNamePhonetic], [LastName], [LastNamePhonetic], [Mail], [Tel], [AccountId], [BusinessUnit], [Position], [LastUpdate], [Created], [Updated]) VALUES (2, N'Forta', N'Ｆｏｒｔａ', N'Ben', N'Ｂｅｎ', N'bforta@adobe.com', N'', NULL, NULL, N'', N'amimata', CAST(N'2014-11-19T15:20:35.2270000+00:00' AS DateTimeOffset), CAST(N'2014-11-19T15:20:35.2270000+00:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[Contacts] OFF
INSERT [dbo].[DeliveryNoCounts] ([DeliveryPostDate], [IncrementNo]) VALUES (CAST(N'2014-01-01T00:00:00.0000000+09:00' AS DateTimeOffset), 4)
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [EmployeeNo], [LastName], [FirstName], [Mail], [LastUpdate], [Created], [Updated]) VALUES (2, N'hmoriya', N'森屋', N'英治', N'hmoriya@archway.co.jp', N'amimata', CAST(N'2014-12-03T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2014-12-03T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[Employees] ([EmployeeId], [EmployeeNo], [LastName], [FirstName], [Mail], [LastUpdate], [Created], [Updated]) VALUES (4, N'sae', N'若松', N'佐江', N'sae@archway.co.jp', N'amimata', CAST(N'2014-12-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2014-12-01T00:00:00.0000000+00:00' AS DateTimeOffset))
INSERT [dbo].[Employees] ([EmployeeId], [EmployeeNo], [LastName], [FirstName], [Mail], [LastUpdate], [Created], [Updated]) VALUES (5, N'nokuda', N'奥田', N'直人', N'nokuda@archway.co.jp', N'amimata', CAST(N'2014-12-01T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2014-12-01T00:00:00.0000000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[ProjectAcountProfile] ON 

INSERT [dbo].[ProjectAcountProfile] ([ProjectAccountProfileId], [ProjectId], [CutOffClaim], [SettlingPeriod], [PaymentTermsCode], [LastUpdate], [Created], [Updated], [BearHandlingCharge]) VALUES (1, 457, 10, 3, 1, N'amimata', NULL, NULL, NULL)
INSERT [dbo].[ProjectAcountProfile] ([ProjectAccountProfileId], [ProjectId], [CutOffClaim], [SettlingPeriod], [PaymentTermsCode], [LastUpdate], [Created], [Updated], [BearHandlingCharge]) VALUES (2, 412, 25, 9, 2, N'amimata', NULL, NULL, NULL)
INSERT [dbo].[ProjectAcountProfile] ([ProjectAccountProfileId], [ProjectId], [CutOffClaim], [SettlingPeriod], [PaymentTermsCode], [LastUpdate], [Created], [Updated], [BearHandlingCharge]) VALUES (3, 474, 25, 9, 2, N'amimata', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProjectAcountProfile] OFF
SET IDENTITY_INSERT [dbo].[ProjectContracts] ON 

SET IDENTITY_INSERT [dbo].[ProjectContracts] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [AccountId], [ContactId], [Owner], [ProjectStatus], [StartDate], [EndDate], [Rank], [Region], [ProjectDetail], [BillingType], [Hot], [LastUpdate], [Created], [Updated]) VALUES (3, N'Next-DMSアーキテクチャ策定支援(ライブラリ構築)', 54, NULL, N'tsune', N'受注', CAST(N'2012-08-20T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2012-09-28T00:00:00.0000000+00:00' AS DateTimeOffset), N'Z', N'東京', NULL, N'一括', NULL, N'amimata', CAST(N'2014-11-19T15:04:55.8500000+00:00' AS DateTimeOffset), CAST(N'2014-11-19T15:04:55.8500000+00:00' AS DateTimeOffset))
INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [AccountId], [ContactId], [Owner], [ProjectStatus], [StartDate], [EndDate], [Rank], [Region], [ProjectDetail], [BillingType], [Hot], [LastUpdate], [Created], [Updated]) VALUES (4, N'日産自動車（株）：RNTBCIへの運用標準プロセス導入支援', 39, NULL, N'nori', N'受注', CAST(N'2012-07-16T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2012-09-28T00:00:00.0000000+00:00' AS DateTimeOffset), N'Z', N'東京', NULL, N'一括', NULL, N'amimata', CAST(N'2014-11-19T15:04:55.8500000+00:00' AS DateTimeOffset), CAST(N'2014-11-19T15:04:55.8500000+00:00' AS DateTimeOffset))
INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [AccountId], [ContactId], [Owner], [ProjectStatus], [StartDate], [EndDate], [Rank], [Region], [ProjectDetail], [BillingType], [Hot], [LastUpdate], [Created], [Updated]) VALUES (5, N'施策①フレームワーク・開発ツールの最適化', 55, NULL, N'afukui', N'失注', CAST(N'2012-07-30T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2012-10-31T00:00:00.0000000+00:00' AS DateTimeOffset), N'E', N'東京', NULL, N'一括', NULL, N'amimata', CAST(N'2014-11-19T15:04:55.8500000+00:00' AS DateTimeOffset), CAST(N'2014-11-19T15:04:55.8500000+00:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[ProjectSales] ON 

INSERT [dbo].[ProjectSales] ([ProjectSalesId], [ProjectId], [SalesDateF], [SalesDateT], [ServiceType], [ServiceDetail], [UnitPrice], [Count], [Unit], [Amount], [IncludedTax], [LastUpdate], [Created], [Updated], [Status]) VALUES (1, 457, CAST(N'2014-07-01T00:00:00.0000000+09:00' AS DateTimeOffset), CAST(N'2015-01-30T00:00:00.0000000+09:00' AS DateTimeOffset), 1, N'サービスブロックの基本構造', CAST(230000 AS Decimal(18, 0)), CAST(300 AS Decimal(18, 0)), N'時間', 69000000.0000, 0, N'amimata', NULL, CAST(N'2015-03-01T20:46:12.0000000+09:00' AS DateTimeOffset), 3)
INSERT [dbo].[ProjectSales] ([ProjectSalesId], [ProjectId], [SalesDateF], [SalesDateT], [ServiceType], [ServiceDetail], [UnitPrice], [Count], [Unit], [Amount], [IncludedTax], [LastUpdate], [Created], [Updated], [Status]) VALUES (2, 457, CAST(N'2014-07-01T00:00:00.0000000+09:00' AS DateTimeOffset), CAST(N'2015-01-30T00:00:00.0000000+09:00' AS DateTimeOffset), 1, N'共通機能', CAST(230000 AS Decimal(18, 0)), CAST(500 AS Decimal(18, 0)), N'時間', 115000000.0000, 0, N'amimata', NULL, CAST(N'2015-03-01T20:46:12.0000000+09:00' AS DateTimeOffset), 3)
INSERT [dbo].[ProjectSales] ([ProjectSalesId], [ProjectId], [SalesDateF], [SalesDateT], [ServiceType], [ServiceDetail], [UnitPrice], [Count], [Unit], [Amount], [IncludedTax], [LastUpdate], [Created], [Updated], [Status]) VALUES (3, 457, CAST(N'2014-07-01T00:00:00.0000000+09:00' AS DateTimeOffset), CAST(N'2015-01-30T00:00:00.0000000+09:00' AS DateTimeOffset), 1, N'UI・遷移パターン', CAST(230000 AS Decimal(18, 0)), CAST(500 AS Decimal(18, 0)), N'時間', 115000000.0000, 0, N'amimata', NULL, CAST(N'2015-03-01T20:46:12.0000000+09:00' AS DateTimeOffset), 3)
SET IDENTITY_INSERT [dbo].[ProjectSales] OFF
SET IDENTITY_INSERT [dbo].[ServiceTypes] ON 

INSERT [dbo].[ServiceTypes] ([ServiceType], [ServiceTypeName], [LastUpdate], [Created], [Updated]) VALUES (1, N'アーキテクチャ策定支援', N'amimata', CAST(N'2014-12-03T00:00:00.0000000+09:00' AS DateTimeOffset), NULL)
INSERT [dbo].[ServiceTypes] ([ServiceType], [ServiceTypeName], [LastUpdate], [Created], [Updated]) VALUES (2, N'開発プロセス', N'amimata', CAST(N'2014-12-03T00:00:00.0000000+09:00' AS DateTimeOffset), NULL)
INSERT [dbo].[ServiceTypes] ([ServiceType], [ServiceTypeName], [LastUpdate], [Created], [Updated]) VALUES (3, N'トレーニング', N'amimata', CAST(N'2014-12-03T00:00:00.0000000+09:00' AS DateTimeOffset), NULL)
SET IDENTITY_INSERT [dbo].[ServiceTypes] OFF
INSERT [dbo].[UsedBillingNumbers] ([BillingNo], [BillingId]) VALUES (N'AWI2015012801', 1)
INSERT [dbo].[UsedBillingNumbers] ([BillingNo], [BillingId]) VALUES (N'AWI2015022801', 11)
INSERT [dbo].[UsedBillingNumbers] ([BillingNo], [BillingId]) VALUES (N'AWI20150322001', 17)
INSERT [dbo].[UsedDeliveryNumbers] ([DeliveryNo], [BillingId]) VALUES (N'AWD20140101001', 10)
INSERT [dbo].[UsedDeliveryNumbers] ([DeliveryNo], [BillingId]) VALUES (N'AWD20140101003', 11)
INSERT [dbo].[UsedDeliveryNumbers] ([DeliveryNo], [BillingId]) VALUES (N'AWD20140101004', 10)
/****** Object:  StoredProcedure [dbo].[RetrieveBillingIncrementNo]    Script Date: 2015/04/16 13:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetrieveBillingIncrementNo] 
	-- Add the parameters for the stored procedure here
	@targetDate DateTimeOffset,
	@incrementedValue int output
AS
BEGIN
	
	MERGE INTO BillingNoCounts AS B
	USING (SELECT 1 AS initNo, @targetDate As target) AS V
	ON(
		B.BillingPostDate = V.target
	)
	WHEN MATCHED THEN
		UPDATE SET IncrementNo = IncrementNo + 1
	WHEN NOT MATCHED THEN
		INSERT (BillingPostDate, IncrementNo) VALUES (V.target, V.initNo);

	SELECT @incrementedValue = IncrementNo FROM BillingNoCounts WHERE BillingPostDate = @targetDate

END

GO
/****** Object:  StoredProcedure [dbo].[RetrieveDeliveryIncrementNo]    Script Date: 2015/04/16 13:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetrieveDeliveryIncrementNo] 
	-- Add the parameters for the stored procedure here
	@targetDate DateTimeOffset,
	@incrementedValue int output
AS
BEGIN
	
	MERGE INTO DeliveryNoCounts AS D
	USING (SELECT 1 AS initNo, @targetDate As target) AS V
	ON(
		D.DeliveryPostDate = V.target
	)
	WHEN MATCHED THEN
		UPDATE SET IncrementNo = IncrementNo + 1
	WHEN NOT MATCHED THEN
		INSERT (DeliveryPostDate, IncrementNo) VALUES (V.target, V.initNo);

	SELECT @incrementedValue = IncrementNo FROM DeliveryNoCounts WHERE DeliveryPostDate = @targetDate

END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[34] 2[7] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Billings"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 388
               Right = 273
            End
            DisplayFlags = 280
            TopColumn = 10
         End
         Begin Table = "Accounts"
            Begin Extent = 
               Top = 6
               Left = 311
               Bottom = 136
               Right = 521
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProjectAcountProfile"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 262
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Projects"
            Begin Extent = 
               Top = 6
               Left = 808
               Bottom = 136
               Right = 976
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProjectContracts"
            Begin Extent = 
               Top = 6
               Left = 1014
               Bottom = 136
               Right = 1289
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BillingHeaderView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BillingHeaderView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BillingHeaderView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[42] 4[43] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Billings"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 383
               Right = 273
            End
            DisplayFlags = 280
            TopColumn = 8
         End
         Begin Table = "ProjectContracts"
            Begin Extent = 
               Top = 6
               Left = 311
               Bottom = 356
               Right = 586
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProjectAcountProfile"
            Begin Extent = 
               Top = 384
               Left = 38
               Bottom = 514
               Right = 262
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3120
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BillingView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'BillingView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[36] 4[33] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Accounts"
            Begin Extent = 
               Top = 32
               Left = 417
               Bottom = 158
               Right = 795
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Billings"
            Begin Extent = 
               Top = 27
               Left = 69
               Bottom = 392
               Right = 318
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProjectContracts"
            Begin Extent = 
               Top = 142
               Left = 801
               Bottom = 272
               Right = 1076
            End
            DisplayFlags = 280
            TopColumn = 21
         End
         Begin Table = "Contacts"
            Begin Extent = 
               Top = 366
               Left = 1011
               Bottom = 610
               Right = 1210
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Projects"
            Begin Extent = 
               Top = 436
               Left = 157
               Bottom = 566
               Right = 325
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "BillingManagements"
            Begin Extent = 
               Top = 6
               Left = 833
               Bottom = 136
               Right = 1044
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
        ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'CreateBillingView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' Column = 4200
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'CreateBillingView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'CreateBillingView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[50] 4[33] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Projects"
            Begin Extent = 
               Top = 29
               Left = 257
               Bottom = 362
               Right = 425
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Billings"
            Begin Extent = 
               Top = 148
               Left = 472
               Bottom = 482
               Right = 707
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Employees"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 200
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Accounts"
            Begin Extent = 
               Top = 6
               Left = 463
               Bottom = 136
               Right = 673
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DeliveryListView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DeliveryListView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[37] 4[50] 2[5] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = -3
      End
      Begin Tables = 
         Begin Table = "Billings"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 383
               Right = 273
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProjectContracts"
            Begin Extent = 
               Top = 17
               Left = 498
               Bottom = 341
               Right = 773
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Projects"
            Begin Extent = 
               Top = 180
               Left = 320
               Bottom = 310
               Right = 488
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Accounts"
            Begin Extent = 
               Top = 6
               Left = 811
               Bottom = 255
               Right = 1021
            End
            DisplayFlags = 280
            TopColumn = 9
         End
         Begin Table = "Employees"
            Begin Extent = 
               Top = 6
               Left = 311
               Bottom = 136
               Right = 473
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ProjectAcountProfile"
            Begin Extent = 
               Top = 342
               Left = 311
               Bottom = 472
               Right = 535
            End
            DisplayFlags = 280
            TopColumn = 6
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Col' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ReceiptListView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'umn = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ReceiptListView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ReceiptListView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[71] 4[7] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Projects"
            Begin Extent = 
               Top = 34
               Left = 472
               Bottom = 301
               Right = 640
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Accounts"
            Begin Extent = 
               Top = 224
               Left = 788
               Bottom = 612
               Right = 998
            End
            DisplayFlags = 280
            TopColumn = 8
         End
         Begin Table = "ProjectContracts"
            Begin Extent = 
               Top = 44
               Left = 102
               Bottom = 174
               Right = 377
            End
            DisplayFlags = 280
            TopColumn = 22
         End
         Begin Table = "Billings"
            Begin Extent = 
               Top = 402
               Left = 38
               Bottom = 694
               Right = 273
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 45
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 4530
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 3000
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 3780
         ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SendingDocumentView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 4260
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SendingDocumentView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SendingDocumentView'
GO
USE [master]
GO
